@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2a2a2a;
}
